*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
}

/* header */
.header{
    margin-bottom: 140px;
}

.menu-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.menu-list-item{
    list-style: none;
    margin-right: 33px;
    margin-top: 27px;
}

.menu-list-item:last-child{
    margin-right: 0px;
}

.item-link{
    text-decoration: none;
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.47;
    color: #000;
}

/* section-in-header */
.section-in-header{
    margin-bottom: 70px;
}

.header-wrapper{
    width: 856px;
    margin: 0 auto;
}

.flex-wrapper{
    display: flex;
    align-items: center;
}

.wrapper{
    margin-right: 115px;
}

.main-title{
    width: 500px;
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    color: #21243D;
    margin-bottom: 40px;
}

.main-description{
    width: 497px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 40px;
}

.button{
    height: 50px;
    width: 210px;
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.47;
    color: #fff;
    background: #FF6464;
    border-radius: 5px;
    border-color: #FF6464;
}

.ellipse{
    position: relative;
    right: 256px;
    top: 13px;
    border-radius: 50%;
    background: #EDF7FA;
    z-index: -1;
}

/* posts */
.recent-posts{
    background-color: #EDF7FA;
}

.recent-posts-wrapper{
    width: 856px;
    margin: 0 auto;
}

.text-wrapper{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts{
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 22px;
    line-height: 2.72;
    color: #21243D;
}

.views{
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.47;
    color: #00A8CC;
}

.posts-menu{
    display: flex;
    padding-bottom: 35px;
}

.posts-menu-item{
    width: 418px;
    background-color: #fff;
    list-style: none;
    margin-right: 20px;
}

.posts-menu-item:last-child{
    margin-right: 0px;
}

.item-title{
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.47;
    color: #21243D;
}

.item-subtitle{
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.47;
    color: #21243D;
}

.item-description{
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.47;
    color: #21243D;
    margin-bottom: 15px;
}


/* featured-works */
.featured-works{
    margin-top: 15px;
}

.featured-works-wrapper{
    width: 856px;
    margin: 0 auto;
}

.heading{
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    /* margin-left: 296px; */
    margin-bottom: 15px;
}
.img-designing{
    /* margin-left: 296px; */
    margin-right: 30px;
    margin-top: 31px;
}

.ulka{
    margin: 0 auto;
    /* margin-left: 296px; */
}
.dashboard{
    color: #8695A4;
}
.li-wrapper{
    width: 858px;
    display: flex;
    justify-content: center;
    height: 200px;
}

.designing-wrapper{
    display: flex;
    flex-direction: column;
}

.p-wrapper{
    display: flex;
    margin-bottom: 17px;
}

.designing-heading{
    /* margin-left: 570px;
    margin-bottom: 400px; */
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 44px;
    font-family: 'Heebo';
    font-weight: 700;
    color: #21243D;
}
.year-heading {
    /* position: absolute;
    left: 563px;
    top: 1080px; */
    font-weight: 900;
    margin-right: 25px;
    border: 2px solid #142850;
    border-radius: 16px;
    width: 62px;
    text-align: center;
    background-color: #142850;
    color: #fff;
}
hr{
    border: 1px solid #E0E0E0;
    margin-top: 15px;
}
footer {
    margin-top: 58.27px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243d;
     margin-top: 26px;
    text-align: center;
}
.footer-social-link{
    margin-right: 35px;
}