*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
}

/* header */
.header{
    margin-bottom: 140px;
}

.menu-list{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.menu-list-item{
    list-style: none;
    margin-right: 33px;
    margin-top: 27px;
}

.menu-list-item:last-child{
    margin-right: 0px;
}

.item-link{
    text-decoration: none;
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.47;
    color: #000;
}

.item-link:hover{
    color: #FF6464;
}

/* section-in-header */
.section-in-header{
    margin-bottom: 70px;
}

.header-wrapper{
    width: 856px;
    margin: 0 auto;
}

.flex-wrapper{
    display: flex;
    align-items: center;
}

.wrapper{
    margin-right: 115px;
}

.main-title{
    width: 500px;
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    color: #21243D;
    margin-bottom: 40px;
}

.main-description{
    width: 497px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 40px;
}

.button{
    height: 50px;
    width: 210px;
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.47;
    color: #fff;
    background: #FF6464;
    border-radius: 5px;
    border-color: #FF6464;
}

.ellipse{
    position: relative;
    right: 256px;
    top: 13px;
    border-radius: 50%;
    background: #EDF7FA;
    z-index: -1;
}

/* posts */
.recent-posts{
    background-color: #EDF7FA;
}

.recent-posts-wrapper{
    width: 856px;
    margin: 0 auto;
}

.text-wrapper{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts{
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 22px;
    line-height: 2.72;
    color: #21243D;
}

.views{
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.47;
    color: #00A8CC;
}

.posts-menu{
    display: flex;
    padding-bottom: 35px;
}

.posts-menu-item{
    width: 418px;
    background-color: #fff;
    list-style: none;
    margin-right: 20px;
}

.posts-menu-item:last-child{
    margin-right: 0px;
}

.item-title{
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.47;
    color: #21243D;
}

.item-subtitle{
    margin-top: 25px;
    margin-left: 22px;
    margin-right: 22px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.47;
    color: #21243D;
}

.item-description{
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.47;
    color: #21243D;
    margin-bottom: 15px;
}