/* @media screen and (max-width: 768px){
    .work-section{
        margin: 0 auto;
    }

    .work-title{
        margin-bottom: 20px;
    }

    .work-list-item{
        width: 344px;
        height: 455px;
        flex-direction: column;
        /* align-items: center;
    }

    img{
        width: 339px;
    }
} */