@media screen and (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    /* header */
    .header{
        margin-left: 300px;
        margin-top: 50px;
    }

    label{
        display: block;
        height: 30px;
        width: 30px;
        margin-left: auto;
        position: relative;
    }

    label:hover{
        cursor: pointer;
    }

    label span{
        top: 15px;
    }

    label span,
    label span::before,
    label span::after{
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: #21243D;
        position: absolute;
        right: 0;
        transition: .3s;
    }

    label span::before{
        top: -8px;
    }

    label span::after{
        top: 8px;
    }

    .menu-list{
        display: none;
           margin-right: 0;
    }

    input[type="checkbox"]:checked ~ .menu-list{
        display: flex;
        flex-direction: column;
    }

    /* section */
    .work-section-wrapper{
        margin: 0 auto;
        width: 344px;
        margin-bottom: 50px;
    }

    .work-title{
        font-family: 'Heebo';
        font-weight: 700;
        font-size: 30px;
        line-height: 2;
        margin-bottom: 20px;
    }

    .work-list-item{
        width: 350px;
        height: 470px;
        padding-bottom: 20px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }

    .work-list-item:nth-child(3){
        height: 515px;
    }

    .work-list-item:last-child{
        margin-bottom: 0px;
    }

    img{
        margin-right: 0;
        width: 339px;
        height: 230px;
        margin-bottom: 20px;
    }

    .li-wrapper{
        width: 344px;
        height: 455px;
    }

    .p-wrapper{
        margin-bottom: 25px;
    }

    /* footer */
    .bottom-site-wrapper{
        margin: 0 auto;
        width: 344px;
    }
} 